node_modules/
.wwebjs_auth/
ffmpeg.exe
ffmpeg/
whatsapp-web.js/
app/chatExtension.py
app/test.js
.env
app/test.js
app/test.js
app/ytvideo.mp4
whatsapp-web.js.rar
whatsapp-web.js.zip
app/nlp.py
app/test.js
