node_modules/
.wwebjs_auth/
ffmpeg.exe
ffmpeg/
whatsapp-web.js/
app/chatExtension.py
app/test.js
.env
app/test.js
app/test.js
app/ytvideo.mp4
watsapp-web.js.rar
Procfile
package-lock.json
